<div class="bg-pblack-700/70 z-30 shadow-md w-full py-5">
  <div class="flex justify-between custom-container">
    <div class="items-center flex">
      <a routerLink="/" class="justify-center cursor-pointer">
          <img class="block h-10 w-auto" src="https://cms.pepijncolenbrander.com/uploads/PC_Logo_195521d215.png" alt="Logo">
      </a>
    </div>
    <div class="space-x-4 flex my-auto text-white">
      <div *ngIf="!isLoggedIn" class="nav" (click)="this.userService.login()">{{ (this.userService.loading$ | async) ? 'Loading': 'Login with VATSIM' }}</div>
      <div *ngIf="isLoggedIn" class="nav" (click)="this.userService.logout()">{{ (this.userService.loading$ | async) ? 'Loading': currentUser.nameFull }}</div>
    </div>
  </div>
</div>