<app-alert class="" aria-live="polite" aria-atomic="true"></app-alert>
<body class="flex flex-col">
  <nav class="z-10">
    <app-nav></app-nav>
  </nav>
  <main>
    <div class="z-5 hidden sm:block">
      <div id="blob"></div>
    </div>
    <router-outlet *ngIf="!(this.userService.loading$ | async)"></router-outlet>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

<ng-template #loader>
  <div class="w-full h-full m-auto flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>